#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.loader-animation {
  animation: loader-animation 2s ease-in-out infinite;
  /* transition: width 0.5s ease-in-out; */
}

.loader {
  animation: loader 2s ease-in-out infinite;
}

@keyframes loader-animation {
  0% {
    width: 30%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 30%;
  }
}
@keyframes loader {
  0% {
    height: 35px;
  }
  50% {
    height: 45px;
  }
  100% {
    height: 35px;
  }
}